html, body{
  margin: 0;
}
body {
  font-family: 'Maitree', serif;
  color: #fff;
}
.home-main {
  border: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.filter {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.video-container .headline {
    z-index: 2;
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}
.headline h1 {
  font-family: 'Bungee Inline', cursive;
  font-size: 50px;
  line-height: 50px;
}
.headline h3 {
  text-transform: uppercase;
}

.home-about {
  background: #ecf0f1;
}
.home-delivery {
  background: linear-gradient(to left, #7474BF , #348AC7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-monitor {
  display: flex;
  align-items: center;
}
.home-monitor {
  float: left;
  margin-left: 50px;
}

.images-container img {
  float: left;
  padding: 0 50px;
  -webkit-transition: -webkit-transform .6s .9s;
  -moz-transition: -moz-transform .6s .9s;
  transition: transform .6s .9s, opacity .6s .9s;
}

.images-container .middle {
  z-index:2;
  -webkit-transform:translate3d(0, 0, 0);
          transform:translate3d(0, 0, 0);
}
.images-container .left-1 {

  -webkit-transform:translate3d(300px, 0, 0);
          transform:translate3d(300px, 0, 0);
          opacity: 0;
}
/*.images-container .left-2 {

  -webkit-transform:translate3d(300px, 0, 0);
          transform:translate3d(300px, 0, 0);
          opacity: 0;
}*/
.images-container .right {

  -webkit-transform:translate3d(-300px, 0, 0);
          transform:translate3d(-300px, 0, 0);
          opacity: 0;
}
.viewing-page-3 .images-container img {
  -webkit-transform: translate3d(0%, 0%, 0) !important;
  transform: translate3d(0%, 0, 0) !important;
  opacity: 1 !important;
}

.desc-container {
  position: absolute;
  bottom: 18%;
}
